// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1700px;
$on-palm:          800px;
$on-laptop:        1500px;
$on-medium:        1500px;
$on-large:         2500px;
